@charset "UTF-8";
body {
  background: #898282 !important;
}
section {
  height: 100vh !important;
  padding: 10px !important;
  background: #f5f5f5 !important;
}
ul {
  height: 50vh;
  border-bottom: 2px dashed #ccc;
  overflow-y: scroll;
  margin-bottom: 30px !important;
}
li {
  cursor: pointer;
  margin: 5px 0px;
  transition: all linear 250ms;
}

li:hover {
  font-size: larger;
  font-weight: 600;
}
div.alert {
  scale: 0.9;
  transition: all linear 250ms;
  cursor: pointer;
}
form {
  width: 80%;
  height: auto;
  padding: 10px !important;
  background-color: rgb(165, 56, 56) !important;
  color: white;
  margin: 10px auto !important;
}
form h1 {
  text-align: center;
  font-family: cursive;
}
